altgraph==0.17.4
importlib_metadata==8.5.0
numpy>=1.21,<3
packaging==24.2
pefile==2023.2.7
pillow>=10,<13
pyinstaller==6.22.2
pyinstaller-hooks-contrib==2026.7
pywin32-ctypes==0.2.3
zipp==3.20.2
requests==2.32.4
networkx>=3.0
setuptools==80.9.0
