name: Unit tests

on:
  push:
    branches:
      - main
      - snapshot
  pull_request:
    branches:
      - main
      - snapshot

jobs:
  pytest:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Overviewer
        uses: actions/checkout@v5

      - name: Checkout Pillow
        uses: actions/checkout@v5
        with:
          repository: python-pillow/Pillow
          ref: refs/tags/10.3.0
          path: pillow
          sparse-checkout: |
            src/libImaging
          sparse-checkout-cone-mode: false

      - name: Install Python 3
        uses: actions/setup-python@v6
        with:
          python-version: 3.8

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest pytest-mock
          echo "PIL_INCLUDE_DIR=pillow/src/libImaging" >> "$GITHUB_ENV"

      - name: Build Overviewer
        run: |
          python setup.py build

      - name: Run tests with pytest
        run: |
          pytest
